*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1240px;
  margin: 0 auto;
}
.header-wrapper {
  height: 20vh;
  background-color: bisque;

  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: center;
}
.header-logo {
  height: 100%;
}
.header-logo img {
  height: 100%;
}
.header-menu {

}

.menu li {
  display: inline-block;
}
.menu a {
  text-decoration: none;
  color:brown;
}
.menu a li {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid brown;
  box-shadow: 2px 2px 4px #ccc;
  line-height: 30px;
  text-align: center;
  margin-left: 1rem;
  transform: scale(1);
  transition: all 0.25s ease;
}
.menu a li:hover {
  transform: scale(1.1);
}
.header-login {
  height: 40%;
  margin-right: 0.5rem;
}
.header-login img {
  height: 100%;
}


.section1 {
  height: 70vh;
  background-image: url('./images/iphone-background.jfif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1-header {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1-text h1{
  font-family: 'Nosifer', cursive;
  font-size: 3rem;
  color: whitesmoke;
}
.section1-text p {
  margin: 2.5rem 0;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 4px;
  text-transform: capitalize;
  color: whitesmoke;
}
.btn {
  cursor: pointer;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  margin:0 10px;
  font-size: 12px;
}
.version1 {
  background-color: transparent;
  color: whitesmoke;
  border: 3px solid whitesmoke;
  transition: all 0.25s ease;

}
.version1:hover {
  background-color: aliceblue;
  color: blue;
  border: 3px solid transparent;
}
.version2 {
  background-color: aliceblue;
  color: blue;
  border: 3px solid transparent;
  transition: all 0.25s ease;
}
.version2:hover {
  background-color: transparent;
  color: whitesmoke;
  border: 3px solid whitesmoke;

}
.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.wrapper-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 2px 4px #918a8a;
  box-sizing: 10px;
  width: 300px;
  height: 220px;
  background-color: bisque;
  margin-bottom: 10px;
}
.item-photo {
  width: 90%;
  height: 80%;
  border-radius: 10px;

}
.item-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
}
.wrapper-item h3 {
  margin-top: 10px;
  color: red;
}
.section3 {
  border: 2px solid red;
}
.wrapper-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.wrapper-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  font-size: 1.2rem;
  padding: 8px 0;
  margin-right: 5px;
}
.wrapper-input input {
  font-size: 1.1rem;
  padding: 5px 10px;
  margin-left: 5px;
}